h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora', serif;
    margin: 0;
}

.banner {
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    color: white;
    padding: 120px 0;
}
.banner h1 {
  font-size: 30px;
}

.banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

.container {
    width: 700px;
    margin: 50px auto;
}

a {

  background: linear-gradient(217deg, rgba(255,0,0,.2), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.2), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.2), rgba(0,0,255,0) 70.71%);
  border-radius: 3px;
  text-decoration: 0;
  color: #838383;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;

}
a:hover {
background: linear-gradient(217deg, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%);
}

@media(max-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 550px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 350px;
  }
}
